// Specific CSS for your home-page

.banner {
  // height: 60vh;
  background:#3aebba linear-gradient(45deg,#3c82ff,#3aebba);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  transition: all 0.4s ease-in;
  z-index: 0;
}

.illustration-home {
  transform: skew(0deg, -2.5deg);
  padding: 40px;
  display: flex;
  right: 1vh;
  top: 30vh;
  position: absolute;
}

.fas.fa-laptop {
  color: white;
font-size: 15em;
text-align: right;
}

.fas.fa-mobile-alt {
    color: white;
    font-size: 7em;
    right: 88%;
    top: 7%;
    position: absolute;
    transition: all 0.9s ease-in;
 &:hover {
  transform: rotate(-25deg);
    font-size: 7.9em;
  }
}

.fas.fa-headphones {
  color: white;
  font-size: 7em;
  right: 15px;
  top: -100px;
  position: absolute;
  transition: all 0.9s ease-in;
   &:hover {
    transform: rotate(25deg);
    font-size: 8.3em;
  }
}

.far.fa-keyboard {
    color: white;
    font-size: 3em;
    right: 87%;
    top: 50%;
    position: absolute;
    transition: all 0.9s ease-in;
   &:hover {
    transform: rotate(-5deg);
    font-size: 4.3em;
  }
}

.fas.fa-gamepad {
  color: white;
  font-size: 6em;
  right: 53%;
  top: -20%;
  position: absolute;
  transition: all 0.99s ease-in;
   &:hover {
    transform: rotate(-5deg);
   font-size: 7.3em;
  }
}

.shoes {
  color: white;
  right: 35%;
  top: 25%;
  width: 32%;
  position: absolute;
  transition: all 0.3s ease-in;
  &:hover {
    width: 33.2%;
  }
}

#btn-successor {
  background-color:#3FCE8E;
  border-radius: 3px;
  padding: 5px 20px;
  margin-left: 10px;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  transition: all 0.2s ease-in;
}
#btn-successor:hover {
  background-color:#4CF9AB;
  border-radius: 3px;
  padding: 5px 20px;
  font-weight: bold;
  border: none;
  transition: all 0.2s ease-in;
}

.text-ban {
  width: 50%;
  margin: 0px 10%;
}
