// Specific CSS for your home-page
@keyframes slideInFromLeft {
  0% {
    transform: rotate(1deg);
    opacity:0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity:0.75;
  }
}

@keyframes slideInlaptop {
  0% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


@keyframes fadetext {
  0% {
    opacity:0.3;
  }
  100% {
    opacity:1;
  }
}

#lap {
  animation: 140s ease-out 0s 1 slideInlaptop;
  // padding: 30px;
}

.fas.fa-mobile-alt, .fas.fa-headphones, .far.fa-keyboard, .fas.fa-gamepad, .fas.fa-tshirt {
  animation: 150s ease-out 0s 1 slideInFromLeft;
  // padding: 30px;
}

.illustration-home {
  animation: 150s ease-out 0s 1 slideInFromLeft;
  // padding: 30px;
}

.text-ban {
animation: 3s linear 0s 1 fadetext;
}

.banner {
  // height: 60vh;
  background:#3aebba linear-gradient(45deg,#3c82ff,#3aebba);
  transition: all 0.4s ease-in;
  z-index: 0;
}

// .fas.fa-laptop {
//   transform: skew(0deg, -2.5deg);
//   padding: 40px;
//   display: flex;
//   right: 1vh;
//   top: 30vh;
//   position: absolute;
// }

.illustration-home {
  transform: skew(0deg, -2.5deg);
  padding: 10px;
  display: flex;
  right: 20vh;
  top: 25vh;
  position: absolute;
}

.fas.fa-laptop {
  color: white;
font-size: 15em;
text-align: right;
}

.fas.fa-mobile-alt {
    color: white;
    font-size: 7em;
    right: 90%;
    top: 7%;
    position: absolute;
    transition: all 0.9s ease-in;
 &:hover {
  transform: rotate(-25deg);
    font-size: 7.9em;
  }
}

.fab.fa
.select2-container--default .select2-results > .select2-results__options {
  max-height: 400px !important;
}

.select2-results {
  //height: 300px;
  width: 500px;
  //background-color: rgba(0,0,0,0) !important;
}

.searchbar-position {
  .select2-dropdown {
    background-color: transparent !important;
  }
}


.select2-dropdown.select2-dropdown--above {
  //background-color: rgba(0,0,0,0);
}

.searchbar-position {
  height: 300px;
  width: 500px;
  right: 10vh;
  top: 20vh;
  z-index: 3;
}

// .select2-container.select2-container--default.select2-container--open {
//   left: 0 !important;
//   top: 0 !important;
//   position: relative !important;
//   width: 500px !important;
// }


.select2-results__option.select2-results__message {
  display: none;
}

.select2-container--default {
  .select2-results__option {
    padding: 0px;
  }
  .select2-results__option--highlighted[aria-selected] {
    color: unset !important;
    .select2-name-price {
      background-color: transparent !important;
    }
  }
}

.select2 {
  width:500px;
  font-size: 1.5em;
}

#select2-query-container {
  font-size: 0.5em;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
}
-android {
  color: white;
  font-size: 7em;
  right: -35px;
  top: 220px;
  position: absolute;
  transition: all 0.9s ease-in;
    margin: none;
    padding: none;
  &:hover {
  transform: rotate(-25deg);
    font-size: 7.9em;
  }
}

.fas.fa-camera-retro {
    color: white;
    font-size: 7em;
    right: 120px;
    top: 280px;
    position: absolute;
    margin: none;
    padding: none;
    transition: all 0.9s ease-in;
  &:hover {
    font-size: 7.9em;
  }
}

.fas.fa-headphones {
  color: white;
  font-size: 7em;
  right: 15px;
  top: -100px;
  position: absolute;
  transition: all 0.9s ease-in;
   &:hover {
    transform: rotate(25deg);
    font-size: 8.3em;
  }
}

.far.fa-keyboard {
    color: white;
    font-size: 3em;
    right: 93%;
    top: 80%;
    position: absolute;
    transition: all 0.9s ease-in;
   &:hover {
    transform: rotate(-5deg);
    font-size: 4.3em;
  }
}

.fas.fa-gamepad {
  color: white;
  font-size: 6em;
  right: 59%;
  top: -23%;
  position: absolute;
  transition: all 0.99s ease-in;
   &:hover {
    transform: rotate(-5deg);
   font-size: 7.3em;
  }
}

.fas.fa-tshirt {
    font-size: 5em;
    color: white;
    right: -8%;
    top: 30%;
    position: absolute;
    margin: none;
    padding: none;
    overflow: auto;
    transition: all 0.3s ease-in;
&:hover {
  font-size: 5.3em;
  }
}

#btn-successor {
  background-color:#3FCE8E;
  border-radius: 3px;
  padding: 5px 20px;
  margin-left: 10px;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  transition: all 0.2s ease-in;
}
#btn-successor:hover {
  background-color:#4CF9AB;
  border-radius: 3px;
  padding: 5px 20px;
  font-weight: bold;
  border: none;
  transition: all 0.2s ease-in;
}

.text-ban {
  width: 50%;
  margin: 0px 7%;
}

#main-title {
  margin-bottom: 40px;
}

#sub-title {
  margin-bottom: 40px;
}

.container-home {
  background-color:white;
  height: 100vh;
}
