// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
.main-wrapper {
  margin-top: 70px;
  min-height: calc(100vh - 120px);
}

body {

}

.banner p {
  font-size: 17px;
  color: white;
}

.banner h1 {
font-size: 40px;
color: white;
}
