<div class="results_picture_search">
  <% @items[0..3].each do |item| %>
 <div class="API-repository">
    <div class="API-result-photo">
      <%= image_tag "https://cdn.pji.nu/product/standard/140/#{item["id"]}.jpg", alt: "alttext" %>
    </div>
    <div class="API-result-name-price">
      <div class="API-result-name">
       <p> <%= item["name"] %></p>
     </div>
     <div class="API-result-price">
      <p>Price: €<%= item["price"]["regular"] %></p>
    </div>
  </div>
</div>
  <% end %>
</div>
