<%= form_tag search_products_path, method: :get, id: "search-form" do %>
  <div class="search-flex">

    <%= select_tag :query,
    options_for_select([params[:query]], params[:query]),
    class: "form-control select2 js-data-example-ajax navbar-search" %>
      <%= submit_tag "HUNT", class: "btn btn-primary hidden-btn", id:"btn-successor" %>
  </div>
<% end %>





