<%= form_tag root_path, method: :get do %>
<div class="search-flex">
  <%= text_field_tag :query,
  params[:query],
  class: "form-control food-type",
  placeholder: "Keyword"
  %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
</div>
<% end %>

