<%= form_tag search_products_path(@product), method: :get do %>

  <div class="search-flex test">
    <%= select_tag :query,
    options_for_select([params[:query]], params[:query]),
    class: "form-control select2 js-data-example-ajax" %>
      <%= submit_tag "HUNT", class: "btn btn-primary", id:"btn-successor" %>
  </div>
<% end %>





