<div class="container-home">

  <div class="banner">
    <div class="distortion">
      <div class="container">

        <div class="text-ban">
          <div id="main-title">
            <h1>Best Prices for Busy People!</h1>
          </div>
          <div id="sub-title">
            <p>Never overpay your online purchases. PriceHunt indexes all the offers for all the products you can ever need </p>
          </div>
          <div class="form-home">
            <!-- <label class= "label-home" for="keyword">What is your keyword?</label> -->
            <p></p>

            <%= render 'shared/searchbar'  %>

          </div>
        </div>

        <%= form_tag search_products_path, method: :post, multipart: true do %>
        <%= file_field_tag :photo %>
        <%= submit_tag "Submit your photo", class: "btn btn-success", id:"btn-successor" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="illustration-home">
    <i class="fas fa-laptop" id="lap"></i>
    <i class="fas fa-mobile-alt"></i>
    <i class="fas fa-headphones"></i>
    <i class="far fa-keyboard"></i>
    <i class="fas fa-gamepad"></i>
    <i class="fas fa-tshirt"></i>
    <i class="fab fa-android"></i>
    <i class="fas fa-camera-retro"></i>
    <%#= image_tag "shoes", alt: "alttext", class: "shoes" %>
  </div>
</div>
</div>
</div>
</div>

