<div class="container-home">

  <div class="banner">
    <div class="distortion">
      <div class="container">

        <div class="text-ban">
          <h1>PriceHunt brings the best prices to selfish people !</h1>
          <p>Change your life and find the best prices for all the products around the world. </p>
          <div class="form-home">
            <!-- <label class= "label-home" for="keyword">What is your keyword?</label> -->
            <p></p>

            <%= render 'shared/searchbar'  %>

          </div>
        </div>

          <div class="illustration-home">
            <i class="fas fa-laptop" id="lap"></i>
            <i class="fas fa-mobile-alt"></i>
            <i class="fas fa-headphones"></i>
            <i class="far fa-keyboard"></i>
            <i class="fas fa-gamepad"></i>
            <i class="fas fa-tshirt"></i>
            <i class="fab fa-android"></i>
            <i class="fas fa-camera-retro"></i>
            <%#= image_tag "shoes", alt: "alttext", class: "shoes" %>
          </div>
        </div>
      </div>
    </div>
  </div>

