.inbox {
  padding: 10px 20px;
  list-style: none;
  border: 2px solid rgba(220,224,244,1);
  margin: 4px;
}

.message {
  position:relative;
  display: flex;
}


.alert-price{
  font-size: 15px;
  width: 25%;
}

.inbox img {
  justify-content: center;
  align-content: center;
}

.picture{
  display: flex;
  align-items: center;
  width: 130px;
  size: fit;
}


.alert-product {
  width: 20%;
  font-size: 15px;
  border: 1px dotted rgba(220,224,244,1);
  justify-content: middle;
  text-align: center;
  vertical-align: middle;
  padding-top: 40px;
}

.alert-image{
  width: 20%;
  text-align: center;
  margin: 5px;
  border: 1px dotted rgba(220,224,244,1);
}

.alert-price {
  text-align: center;
  width: 40%;
  justify-content:center;
  border: 1px dotted rgba(220,224,244,1);
  padding-top: 25px;

}

.icon {
  width: 130px;
}

.alert-link{
  width: 20%;
  text-align: center;
  border: 1px dotted rgba(220,224,244,1);
  padding-top: 40px;

}

.alert-picture {
  height: 300px;
  width: 400px;
  text-align: center;
}

.graph-price{
 height: 300px;
  width: 700px;
  border: 1px dotted grey;
  text-align:center;
  margin: 20px;
}

.container-alert{
  margin: 20px;
}

.alert-back {
  text-align: center;
}


.alert-infos-show{
  text-align: left;
  padding-left: 100px;
}

.alert-infos-show i {
  font-size: 30px;
}

.alert-communication{
  width: 30%;
  font-size: 15px;
  border: 1px dotted rgba(220,224,244,1);
  padding-top: 20px;
  text-align: center;
}

li {
  list-style-type: none;
}

.alert-communication i{
font-size: 30px;
padding-right: 25px;
}

.alert-show{
  display:flex;
}

.list-contact{
  display:inline
}

.inline li{
  margin: 0px;
  padding: 0px;
  width: 10px;
}
