.banner {
  background: #3aebba linear-gradient(45deg, #3c82ff, #3aebba);
  background-size: cover;
  padding: 150px 0;
  height: 100vh;
  position: absolute;
  top: 0px;
  width: 100%;
}

.form-control {
  width: 50%;
}

.label-home {
  color: white;
}


.main-wrapper{
  background-color: white;
  position: relative;
}

body {
  background: white;
}

.navbar-bckgrnd {
  position: absolute;
  top: 0px;
}

#main-title h1 {
  font-size: 40px;
  font-family: 'Roboto Slab', sans-serif;
}

#sub-title p {
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
}
