.banner {
  background: #3aebba linear-gradient(45deg, #3c82ff, #3aebba);
  background-size: cover;
  padding: 150px 0;
  height: 100vh;
  position: absolute;
  top: 0px;
  width: 100%;
}

.form-control {
  width: 50%;
}

.label-home {
  color: white;
}


.main-wrapper{
  background-color: white;
  position: relative;
}

body {
  background: white;
}

.navbar-bckgrnd {
  position: absolute;
  top: 0px;
}

#main-title h1 {
  font-size: 40px;
  font-family: 'Roboto Slab', sans-serif;
}

#sub-title p {
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
}

.picture_bar_position {
  height: 300px;
  width: 500px;
  position: absolute;
  right: 10vh;
  top: 20vh;
  z-index: 3;
}

.results_picture_search{
  background-color: white;
  z-index: 4;
  height: 558px;
  filter: drop-shadow(4px 4px 20px rgba(0,0,0,0.25));
  padding: 10px;
}

.shape-bottom{
  width:1440;
  height:221;
  z-index: 6;
  position: absolute;
  bottom: 0px;
}

.shape_bottom_banner{
  z-index: 6;
}

.text-ban{
  margin-left: -46px;
  width: 80%;
}
