.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 85vh;
}

.form-control {
  width: 50%;
}

.label-home {
  color: white;
}


.main-wrapper{
  margin-top: 70px;
  background: white;
}
