/* Main navbar */
.navbar-wagon {
  opacity: 1;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  color: white;
  margin-left: 60px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 60px;
}
.navbar-wagon-link:hover {
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  position: relative;
}

// .search-flex {
//   display: flex;
// }

.sticky-nav {
  position: fixed;
  top: 0px;
  z-index: 3;
  width: 100vw;
}

.search-bar {
  width: 780px;
  height: 50%;
  font-size: 0.6em;
}

.select2-container {
  z-index: 10;
}

#myModalLabel {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  font-family: "Roboto Slab", sans-serif;
}

.login-name-input {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 20px;
}

#new_user {
  text-align: center;
}

.login-input-number {
  margin: auto;
  margin-bottom: 30px;
}

.login-bouton {
  border-radius: 4px;
  background-color: #F2C94C;
  border-color: white;
  color: black;
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.navbar-bckgrnd {
  position: fixed;
  z-index: 2;
}


.notif {
  background-color: red;
  border-radius: 50%;
  font-size: 10px;
  height: 13px;
  width:13px;
  border-color: red;
  text-align: center;
  color: white;
}

.flex-not {
  display: flex;
}

#alerts-link {
  margin-right:0px;
}
