.prend-place {
  width:100vw;
  height: 10vw;
}

.product-banner-wrapper{
  width: 500px;
}

.product-banner {
  display: flex;
  background-color: white;
  height: 70vh;
  justify-content: space-around;
  align-items: start;
  padding: 0 40px;
  position: fixed;
  border-radius: 4px;
  filter: drop-shadow(4px 4px 20px rgba(0,0,0,0.25));
}

.inside-banner {
  flex-direction: column;
  width: 500px;
}

.product-desc {
  align-items: center;
  margin-right: 48px;
  margin-top: 20px;
  margin-bottom:60px;
}

.product-desc h4 {
  font-size: 32px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: bold;
}

.contenu {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.offers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 10px;
  padding: 5px;
  height: 70px;
  border-radius: 4px;
  opacity: 0.9;
  transition: opacity 0.4s ease-in;
  filter: drop-shadow(4px 4px 20px rgba(0,0,0,0.25));
}

.offers_first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 10px;
  margin-top: 0px;
  padding: 5px;
  height: 150px;
  border-radius: 4px;
  transition: opacity 0.4s ease-in;
  filter: drop-shadow(4px 4px 20px rgba(242,201,76,0.25));
  border-style: solid;
  border-width: 1px;
  border-color: #F2C94C;
  font-size: 1.2em;
}

.btn-set-alert {
  border-radius: 4px;
  background-color: #F2C94C;
  border-color: white;
  color: black;
  width: 420px;
  height: 66px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gold {
  color: yellow;
}

.selected {
  background-color: #3c82ff;
  color: white;
}

.search-bar {
  align-items: center;
  position: sticky;
  top: 10px;
  margin: 10px;
}

.title-product {
  margin: 5px;
  margin-top: 90px;
  text-align: center;
}

.filter-prod {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
  margin-right: 300px;
  margin-bottom: 10px;
}

.offer-container {
  padding-top: 10px;
  width: 100vw;
  margin-left: 20px;
  margin-right: 20px;
}

.p-photo {
  text-align: center;
}

.left-list {
  width: 700px;
}

.bottom-prod {
  text-align: center;
}

.bottom-prod button {
  background-color: #F2C94C;
}

// .my-row {
//   margin-right: 35px;
//   padding-right: 20px;
// }

.go-shopping-first a{
  text-decoration: none !important;
  color: black;
  display: flex;
  width: 114px;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.go-shopping a{
  color: black;
  display: flex;
  width: 114px;
  height: 48px;
  align-items: center;
  justify-content: center;
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
  font-size: 30px;
  color: black;
}

.hunt-link{
  text-decoration:none;
  color: white;
  margin-bottom: 2px;
}

.button-shopping {
  border-radius: 4px;
  color: black;
  border-style: solid;
  border-width: medium;
  border-color: #F2C94C;
}

.button-shopping i{
  color: white;
}

.first-button {
  background-color: #F2C94C;
  text: black;
}

.offers a:hover {
  text-decoration: none;
  color: black;
  margin-bottom: 2px;
}

.price-shopping {
font-weight: bold;
}

#btn-action{
  background-color: #F2C94C;
}

.logo-pic {
  display:flex;
  justify-content: center;
}

.modal-title-alert {
  text-align: center;
  font-weight: bold;
  font-size: 34px;
  font-family: "Roboto Slab", sans-serif;
}

.submit-booking {
  border-radius: 4px;
  background-color: #F2C94C;
  border-color: white;
  color: black;
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.modal-body-alert {
  text-align: center;
  padding-top:10px;
}

.alert-name-input {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: lighter;
  margin-bottom: 30px;
}

.alert_target_price {
  text-align: center;
}

.alert-input-number {
  margin: auto;
  margin-bottom: 30px;
}

.flex-alert {
  display: flex;
  justify-content: space-around;
  padding: 0 92px;
}

.checkbox-space {
  padding-left: 5px;
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
}
