.product-banner {
  display: flex;
  background-color: rgb(180,180,180);
  width: 100vw;
  height: 130px;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.product-desc {
  align-items: center;
}

.offers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(210,210,210);
  margin: 10px;
  padding: 5px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 8px 8px 0px rgb(230,230,230);
}

.btn-set-alert {
  border-radius: 50px;
  background-color: rgb(20,20,20);
  border-color: white;
}

.gold {
  color: yellow;
}

.white {
  color: white;
}

.logo {
  height: 40px;
  width: 40px;
}

.selected {
  background-color: $blue1;
=======
.search-bar {
  align-items: center;
  position: sticky;
  top: 10px;
  margin: 10px;
}
