.result_product{
  display: inline-block;
  border: 1px solid grey;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 10px grey;
}

@keyframes petite_rotation {
  from {
    transform: rotate(-2deg);
  }
  to {
    transform: rotate(2deg);
  }
}

.product-photo {
  animation: 4s linear 0s 0 petite_rotation;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
