// .select2-result-repository {
//   width: 200px;
//   line-height: 37px;
//   text-indent: 0;
//   padding: 10px;
//   color: red;
//   height: 200px;
// }

// .select2-result-repository__avatar {
//   line-height: 37px;
//   text-indent: 0;
//   color: red;
//   height: 10px;
// }

// .message.product.items.name {
//   line-height: 37px;
//   text-indent: 0;
//   color: red;
//   height: 10px;
// }

.select2-result-repository {
  display: flex;
}

.select2-result-repository__title {
  padding: 6px;
  padding-left: 10px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 300px !important;
}

.select2-results {
  height: 300px;
}

// .select2 {
//   border-radius: 30px !important;
//   height: 32px !important;
// }

// .search-bar {
//   border-radius: 30px !important;
//   height: 32px !important;
// }
