.select2-result-repository-navbar {
  display: flex;
}

.select2-result-name-navbar {
  padding: 6px;
  padding-left: 10px;
}

.select2-result-photo-navbar img {
  width: 80px;
  height: 80px;
}

.select2-name-price-navbar {
  background-color: white;
  width: 369.26px;
}




