.select2-result-repository {
  width: 200px;
  line-height: 37px;
  text-indent: 0;
  padding: 10px;
  color: red;
  height: 200px;
}

.select2-result-repository__avatar {
  line-height: 37px;
  text-indent: 0;
  color: red;
  height: 10px;
}

.message.product.items.name {
  line-height: 37px;
  text-indent: 0;
  color: red;
  height: 10px;
}

