.select2-result-repository {
  display: flex;
  position: top;

}

.select2-result-name {
  padding: 6px;
  padding-left: 10px;
}

.select2-result-photo img {
  width: 100px;
  height: 100px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 600px !important;
}

.select2-results {
  height: 300px;
  width: 500px;
}

.searchbar-position {
  height: 300px;
  width: 500px;
  position: absolute;
  right: 10vh;
  top: 20vh;
  z-index: 3;
}

.select2-container.select2-container--default.select2-container--open {
  left: 0 !important;
  top: 0 !important;
  position: relative !important;
  width: 500px !important;
}
