

<div class="product-banner">
  <div class="product-photo">

  </div>
  <div class="product-desc">
    <%= @product.name %>
    <%= @product.description %>
  </div>
  <div>
    <button class='btn btn-primary'>Set an alert</button>
  </div>
</div>


